@model Clouds.ViewModels.FileViewModel

<div class="modal fade" id="deleteModal_@Model.Name" tabindex="-1" aria-labelledby="deleteModalLabel_@Model.Name" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        @if (Model.IsDir)
        {
          <h5 class="modal-title" id="deleteModalLabel_@Model.Name">Delete folder @Model.Name</h5>
        }
        else
        {
          <h5 class="modal-title" id="deleteModalLabel_@Model.Name">Delete file @Model.Name</h5>
        }
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This action will permamently remove "@Model.Name". Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No!</button>
        <a type="button" asp-action="Delete" asp-controller="File" asp-route-path="@Model.Path" class="btn btn-primary">Delete!</a>
      </div>
    </div>
  </div>
</div>