@using Clouds.ViewModels;
@using System.IO
@{
    ViewData["Title"] = "File explorer";
}

<div class="row m-3">
    <div class="col-3">
        <div class="container-fluid p-4 bg-body border rounded-3 shadow-sm">
            @await Html.PartialAsync("_PartialForm", new FormViewModel((string?)ViewData["Path"], null))
            </div>
        </div>

        <div class="col">
            <div class="container-fluid p-4 bg-body border rounded-3 shadow-sm">
                <div class="mb-4">
                    @if (ViewData["Path"] != null)
                    {
                        string currentPath = "";
                        foreach (string path in ViewData["Path"].ToString().Split(System.IO.Path.DirectorySeparatorChar))
                        {
                            currentPath = System.IO.Path.Combine(currentPath, path);
                            <a asp-route-path="@currentPath" class="text-decoration-none link-secondary">@path /</a>
                        }
                    }
                </div>
                

                <div class="row row-cols-auto gy-5">
                    @foreach (var path in (List<string>) ViewData["Paths"])
                    {
                        <div class="col">
                            @await Component.InvokeAsync("File", new Clouds.ViewModels.FileViewModel(path))
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>