@{
    ViewData["Title"] = "File explorer";
}

<div class="container px-4">
    <div class="row row-cols-auto gy-5">
        @foreach (var path in (List<string>)ViewData["Paths"])
        {
            <div class="col">
                @await Component.InvokeAsync("File", new Clouds.ViewModels.FileViewModel(path))
            </div
         }
    </div>
</div>